{% extends 'base.html.twig' %}

{% block title %}{{parent()}}Accueil{% endblock %}

{% block body %}


{#? Section introduction  #}
<section id="accueil__introduction" class="accueil__introduction">
        {#!  Confirmation envoie mail de contact #}
        {% for message in app.flashes('mailConfirm') %}
            <div class="flash flash--success">
                {{ message }}
            </div>
        {% endfor %}

    <h1 id="accueil__introduction__titre" class="titre titre--64 idle__titre idle__titre--hide">Développeur Web Indépendant</h1>

    <div id="accueil__introduction__texte" class="accueil__introduction__texte idle__texte idle__texte--hide">

        <p class="texte texte--24">
            Passioné par le développement, je vous accompagne dès la conception de votre site, afin de réaliser un projet qui vous ressemble.
        </p>

        <p class="texte texte--24">
            Vous souhaitez étendre votre activité ? Avoir et dynamiser votre présence en ligne ?
        </p>

        <p class="texte texte--24">
            Contactez-moi via le lien ci-dessous pour donner vie à votre projet.
        </p>

    </div>

    <a id="accueil__introduction__bouton" href="{{path("app_front_contact")}}" class="bouton bouton--primary  idle__bouton idle__bouton--hide">Contact</a>
</section>

{#? Carrousselle 1  #}
{# <section class="carrousselle-1">

    <div class="carousel__slider">
        <ul class="carousel__list">
            <li class="carousel__item"><img src="" alt=""></li>
            <li class="carousel__item"><img src="" alt=""></li>
            <li class="carousel__item"><img src="" alt=""></li>
        </ul>
    </div>
    {# <div><img src="" alt=""></div>
    <div><img src="" alt=""></div>
    <div><img src="" alt=""></div>

    <div><img src="" alt=""></div>
    <div><img src="" alt=""></div>
    <div><img src="" alt=""></div> 

</section>
#}

{#? Section service  #}
<section   class="accueil__services">


    <div id="accueil__service__img"  class="accueil__services__mockup ctaShow__image ctaShow__image--hide"></div>

    <div id="accueil__service__container" class="accueil__services__container">


        <h2 id="accueil__service__titre" class="titre titre--32 ctaShow__titre ctaShow__titre--hide">Des compétences adaptées à vos besoins</h1>

        <div id="accueil__service__texte" class="accueil__services__texte ctaShow__texte ctaShow__texte--hide">

            <p class="texte texte--16">
                Au travers mes différentes expériences, j’ai accumulé un large panel de compétence qui me permet de répondre à vos attentes.
            </p>

            <p class="texte texte--16">
                Du site complet à la simple interface vitrine en passant par l’adaptation mobile, vous pourrez voir via ce lien ci-dessous l’ensemble de mes prestations.
            </p>

        </div>


        <a id="accueil__service__bouton" href="{{path("app_front_service")}}" class="bouton bouton--primary ctaShow__bouton ctaShow__bouton--hide">Mes services</a>
    </div>

    

</section>

{#? Carrousselle 2  #}

{# 
<section class="carrousselle-2"> 
    <div><img src="" alt=""></div>
    <div><img src="" alt=""></div>
    <div><img src="" alt=""></div>
    <div><img src="" alt=""></div>
    <div><img src="" alt=""></div>
</section>
#}



{#? Section projet  #}
<section class="accueil__projets">


    <div id="accueil__projets__img" class="accueil__projets__mockup ctaShow__image ctaShow__image--hide"></div>

    <div id="accueil__projets__container" class="accueil__projets__container">


        <h2 id="accueil__projets__titre" class="titre titre--32 ctaShow__titre ctaShow__titre--hide">Des projets aussi divers que variés</h1>

        <div id="accueil__projets__texte" class="accueil__projets__texte ctaShow__texte ctaShow__texte--hide">

            <p class="texte texte--16">
                Aussi éparses que peuvent être mes projets, qu’ils soient personnels ou sollicités, le point de convergence est la confiance en mes capacités d’écoute et d’adaptation à la mission données
            </p>


        </div>


        <a href="" id="accueil__projets__bouton" class="bouton bouton--primary ctaShow__bouton ctaShow__bouton--hide">Mes projets</a>
    </div>

    

</section>

{% endblock %}
{% block script %}

<script>

    let introTitre = document.querySelector("#accueil__introduction__titre")
    let introTexte = document.querySelector("#accueil__introduction__texte")
    let introBouton = document.querySelector("#accueil__introduction__bouton")
    let arrayIntro = [introTitre, introTexte, introBouton]

    let serviceTitre = document.querySelector("#accueil__service__titre")
    let serviceTexte = document.querySelector("#accueil__service__texte")
    let serviceBouton = document.querySelector("#accueil__service__bouton")
    let serviceImg = document.querySelector("#accueil__service__img")

    let arrayService = [serviceTitre, serviceTexte, serviceBouton,serviceImg]

    let sectionService  = document.querySelector("#accueil__service__container")

    let projetTitre = document.querySelector("#accueil__projets__titre")
    let projetTexte = document.querySelector("#accueil__projets__texte")
    let projetBouton = document.querySelector("#accueil__projets__bouton")
    let projetImg = document.querySelector("#accueil__projets__img")
    let arrayProjet = [projetTitre, projetTexte, projetBouton, projetImg]

    let sectionProjet  = document.querySelector("#accueil__projets__container")

    {#!  SCRIPT ANIMATION ON SCOLL #}


    window.addEventListener("DOMContentLoaded",introShowAnimate(arrayIntro));
    
    
    
   

    window.addEventListener("scroll", ()=>{
        let {scrollTop, clientHeight} = document.documentElement;
        
        showAnimeCTA(sectionService,scrollTop, clientHeight*1.5,...arrayService)
        showAnimeCTA(sectionProjet,scrollTop, clientHeight*1.05,...arrayProjet)
        
    })

</script>
{% endblock %}
