{% extends 'base.html.twig' %}

{% block title %}{{parent()}}Accueil{% endblock %}

{% block body %}

{#? Section introduction  #}
<section class="accueil__introduction">

    <h1 class="titre titre--64">Développeur Web Independant</h1>

    <div class="accueil__introduction__texte">

        <p class="texte texte--24">
            Passioné par le développement, je vous accompagne dès la conception de votre site,  afin de réaliser un projet qui vous ressemble.
        </p>

        <p class="texte texte--24">
            Vous souhaitez étendre votre activité ? Avoir et dynamiser votre présence en ligne ?
        </p>

        <p class="texte texte--24">
            Contactez-moi via le lien ci-dessous pour donner vie à votre projet.
        </p>

    </div>

    <a href="#" class="bouton bouton--primary">Accueil</a>
</section>

{#? Carrousselle 1  #}
<section class="carrousselle-1">
    <div><img src="" alt=""></div>
    <div><img src="" alt=""></div>
    <div><img src="" alt=""></div>
    <div><img src="" alt=""></div>
    <div><img src="" alt=""></div>
</section>

{#? Section service  #}
<section class="accueil__services">


    <div class="accueil__services__mockup"><img src="" alt="" class="servicesMockup"></div>

    <div class="accueil__services__container">


        <h1 class="titre titre--32">Des compétences adaptées à vos besoins</h1>

        <div class="accueil__services__texte">

            <p class="texte texte--16">
                Au travers mes différentes expériences, j’ai accumulé un large panel de compétence qui me permet de répondre à vos attentes.
            </p>

            <p class="texte texte--16">
                Du site complet à la simple interface vitrine en passant par l’adaptation mobile, vous pourrez voir via ce lien ci-dessous l’ensemble de mes prestations
            </p>

        </div>


        <a href="" class="bouton bouton--primary">Mes services</a>
    </div>

    

</section>

{#? Carrousselle 2  #}
<section class="carrousselle-2">
    <div><img src="" alt=""></div>
    <div><img src="" alt=""></div>
    <div><img src="" alt=""></div>
    <div><img src="" alt=""></div>
    <div><img src="" alt=""></div>
</section>

{#? Section projet  #}
<section class="accueil__projets">


    <div class="accueil__projets__mockup"><img src="" alt="" class="projetsMockup"></div>

    <div class="accueil__projets__container">


        <h1 class="titre titre--32">Des projets aussi divers que variés</h1>

        <div class="accueil__projets__texte">

            <p class="texte texte--16">
                Aussi éparses que peuvent être mes projets, qu’ils soient personnels ou sollicités, le point de convergence est la confiance en mes capacités d’écoute et d’adaptation à la mission données
            </p>

            {# <p class="texte texte--16">
                Du site complet à la simple interface vitrine en passant par l’adaptation mobile, vous pourrez voir via ce lien ci-dessous l’ensemble de mes prestations
            </p> #}

        </div>


        <a href="" class="bouton bouton--primary">Mes projets</a>
    </div>

    

</section>

{% endblock %}
