.input{
    &--text{
        background-color: $neutral-95;
        height: 3rem;
        @extend %flex-center;
        padding: 1rem;

        &::placeholder{
            color:$neutral-55;
        }
    }
    &--textarea{
        background-color: $neutral-95;
        padding: 1rem;

        &::placeholder{
            color:$neutral-55;
        }
    }
}