<h1>Bonjour {{mail.nom|upper}} {{mail.prenom|capitalize}}</h1>
<br>
<p>Merci d'avoir fait appel à mes services.</p>
<p> Un mail contenant vos informations m'a bien été envoyé.</p>
<p>Je vous contacterais sous 48 h à l'adresse e-mail : {{mail.mail}},</p>
<p>ou au numéro : {{telephone}}.</p>

<br>

<p>Cordialement,</p>
<br>
<p>Jamdev</p>
<p>+33.7.86.64.68.17</p>
<p>j.antoine971@hotmail.fr</p>
